.bottom-section {
    background: var(--inactive-color);
    padding: 100px 40px;
}

.bottom-heading {
    color: var(--subtitle-text);
    font-weight: 600;
    font-size: 35px;
    margin: 0px 0px 30px;
}
.sub-headings {
    color: var(--subtitle-text);
    font-size: 30px;
    font-weight: 600;
    margin: 0px 0px 16px;
}
.bottom-text {
    color: var(--small-text);
    font-size: 18px;
    word-spacing: 3px;
    margin-bottom: 100px;
}

.bottom-text-chains {
    color: var(--small-text);
    font-size: 18px;
    word-spacing: 3px;
    margin: 0px 100px 0px 0px;
    margin-bottom: 100px;
}

.bottom-text-chains:hover {
    color: var(--active-color);
}

.footer {
    background: var(--zomato-white);
    padding: 50px 50px;
}
.zomato-img {
    padding-left: 40px;
}

.footer-container {
    margin-top: 50px;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
} 
 .footer-headings {
    margin: 0px 0px 12px 40px;
    color: var(--heading-text);
    letter-spacing: 3px;
}
ul {
    list-style: none;
}
 .footer-specs { 
    text-decoration: none;
    color: var(--small-text);
    font-size: 18px;
} 
.footer-col {
    width: 20%;
}

.footer-social {
    display: flex;
}

.social-icons {
    /* padding: 0px 10px; */
    margin-left: 30px;
}

.footer-text {
    color: var(--small-text);
}